@import "tailwindcss";
 
html,body{
  padding:0;
  margin:0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f3f4f6;
  background-color: black;
}
@layer utilities {
   @keyframes blink {
    0%,100%{
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 1.2s step-end infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 1.2s ease-in-out infinite;
  }
}

.reveal{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.reveal.active{
  opacity: 1;
  transform: translateY(0);
}
